<div class="row">
  <div class="col-sm-12">
    <form [formGroup]="recipeForm" (ngSumbit)="onSubmit()">
      <div class="row">
        <div class="col-sm-12">
          <button type="submit" [disabled]="!recipeForm.valid" class="btn btn-success">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" formGroupName="name"/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="imagePath">Image url</label>
            <input type="text" id="imagePath" class="form-control" formGroupName="imagePath"/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <img src="" class="img-responsive" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" id="description" class="form-control" rows="6" formControlName="description"></textarea>
          </div>
        </div>
      </div>

      <div class="row" *ngFor="let ingredientCtrl of recipeForm.get('ingredients').control; let i = index" [formGroupName]="i">
        <div class="col-sm-12" formArrayName="ingredients">
          <div class="row">
            <div class="col-sm-8">
              <input type="text" class="form-control" />
            </div>
            <div class="col-sm-2">
              <input type="number" class="form-control" />
            </div>
            <div class="col-sm-2">
              <button class="btn btn-danger">x</button>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-12">
              <div class="button btn btn-success" type="button" (click)="onAddIngredient()">Add Ingredient</div>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
