<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Recipe Book</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link text-dark" routerLink="/recipes">Recipe</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link text-dark" routerLink="/shopping-list">Shopping List</a>
          </li>

          <li class="dropdown nav-item" appDropdown>
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="cursor:pointer">Manage</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" style="cursor:pointer">Save data</a>
              <a class="dropdown-item" style="cursor:pointer">Fetch data</a>
            </div>
          </li>
        </ul>          
      </div>
    </div>
  </nav>
</header>
